.titulo h1 {
  display: flex;
  color: #004aad;
  font-family: "Fredoka", sans-serif;
  font-size: x-large;
  justify-content: center;
  font-weight: 400;
}

.container-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.rodape {
  display: flex;
  justify-content: center;
  font-family: "Fredoka", sans-serif;
}

.form-cadastro {
  width: 40%;
  min-width: 450px;
  padding: 12px 24px;
}

#custom-style input,
#custom-style select {
  color: #004aad;
  height: 64px;
  background-color: #a9bfdd;
  font-family: "Fredoka", sans-serif;
}

#custom-style input:disabled,
#custom-style select:disabled {
  background-color: #a3a3a3;
}

#custom-style input::placeholder {
  color: #ffff;
}

#custom-style .same-line-input {
  width: 44%;
  font-family: "Fredoka", sans-serif;
}

::placeholder {
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
}

.tipo-conta {
  display: flex;
  color: #004aad;
  font-family: "Fredoka", sans-serif;
  font-size: large;
  justify-content: center;
  font-weight: 400;
}

.custom-buttons button {
  background-color: #004aad;
  font-family: "Fredoka", sans-serif;
  width: 45%;
  height: 50px;
}

.custom-buttons .cadastro {
  width: 45%;
  min-width: 200px;
}

#custom-style .custom-buttons button:hover,
#custom-style button:disabled {
  background-color: #a9bfdd;
  border-color: #a9bfdd;
  color: #5c5c5c;
  font-weight: bold;
}

#type-buttons button:active {
  background-color: #012758;
  border-color: #012758;
  color: #a9bfdd;
  font-weight: bold;
}

.content {
  padding: 5px;
  font-family: "Fredoka", sans-serif;
  font-size: 20px;
}

#custom-style h3 {
  margin-top: 5px;
  border-radius: 20px;
  background: #004aad;
  color: white;
  padding: 20px;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.titulo-evento {
  font-family: Fredoka, sans-serif;
  font-weight: bold;
  color: #004aad;
  padding: 15px 0px 0px 23px;
}

.evento-form {
  margin: 0px;
}

input,
select,
textarea {
  font-size: 18px;
}

.error-container {
  color: red;
  font-weight: bold;
}

input[type="file"] {
  position: absolute;
  z-index: -99999999;
  left: 0;
  top: 0;
  width: 100%;
}
.custom-file-upload {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Fredoka, sans-serif;
  font-size: 16px;
  border: 1px solid #dee2e6;
  font-weight: bold;
  color: white;
  border-radius: 6px;
  padding: 19px 20px;
  cursor: pointer;
  width: 44%;
  background-color: #a9bfdd;
}

#custom-style .cloud-upload {
  font-size: inherit;
  text-align: center;
  display: block;
  margin-top: 115px;
}

#custom-style .troca-avatar {
  border-radius: 100%;
  width: 315px;
  height: 315px;
  position: absolute;
  z-index: 1;
  font-size: 0;
}

#custom-style .troca-avatar:hover {
  cursor: pointer;
  background: #000000b5 !important;
  /* line-height: 315px; */
  text-align: center;
  font-size: 35px;
  color: white;
}

@media (max-width: 450px) {
  .form-cadastro {
    min-width: 100%;
  }
}

@media (max-width: 360px) {
  .content {
    padding: 0px;
  }
}
