#custom-navbar .btn {
    background-color: transparent; 
    color: #A9BFDD;
    border-color: #A9BFDD;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    white-space: nowrap;
    font-family: 'Fredoka', sans-serif;
}

#custom-navbar .container {
    margin: 0;
}

#custom-navbar .container-fluid {
    flex-wrap: nowrap;
}

#custom-navbar .btn:hover {
    background-color: #A9BFDD;
    color: #212529;
}

#custom-navbar .btn:active {
    background-color: #A9BFDD;
    color: #212529;
}

#custom-navbar .btn1 {
    margin-right: 5px; 
}

#custom-navbar .btn2 {
    margin-left: 5px; 
}

#custom-navbar p {
    font-size: 16px;
    color: white;
}

#custom-navbar .dropdown-menu {
  right: 0;
  left: inherit;
}

@media (max-width:360px)
{
    #custom-style .botoes {
        flex-direction: column;
        align-items: center;
    }

    #custom-style .botoes .btn1 {
        margin-bottom: 5px;
    }
}