#custom-navbar .btn {
  background-color: transparent;
  color: #a9bfdd;
  border-color: #a9bfdd;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  white-space: nowrap;
  font-family: "Fredoka", sans-serif;
}

#custom-navbar .container {
  margin: 0;
}

#custom-navbar .container-fluid {
  flex-wrap: nowrap;
}

#custom-navbar .btn:hover {
  background-color: #a9bfdd;
  color: #212529;
}

#custom-navbar .btn:active {
  background-color: #a9bfdd;
  color: #212529;
}

#custom-navbar .btn1 {
  margin-right: 5px;
}

#custom-navbar .btn2 {
  margin-left: 5px;
}

#custom-navbar p {
  font-size: 16px;
  color: white;
}

#custom-navbar .dropdown-menu {
  right: 0;
  left: inherit;
}

@media (max-width: 360px) {
  #navbarSupportedContent {
    flex-wrap: wrap;
    padding: 5px 0px;
  }

  #custom-navbar .btn2 {
    margin-left: 0px;
    margin-top: 5px;
  }

  #custom-style .botoes {
    flex-direction: column;
    align-items: center;
  }

  #custom-style .botoes .btn1 {
    margin-bottom: 5px;
  }
}
